.main{
  display: grid;
  justify-items: center;
  /* background-color: bisque; */
}
.header{
  background-color:rgb(217, 211, 204);
  padding:30px;
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(3, 200px);

}
.addRecipe{
  display: grid;
  justify-content: center;
}